body, html {
    height : 100%;
    background-color: #372155;
    background: url('../img/end.png')no-repeat center center;
    background-size:100% 100%;
}

.button_example{
    margin-left : 5%;
    margin-top : 5%;
    position:absolute;
    height: 4%;
    width: 20%;
    border:1px solid #8A66F4;
    -webkit-box-shadow: #CCCCCC 0px 1px 0px inset;
    -moz-box-shadow: #CCCCCC 0px 1px 0px inset; 
    box-shadow: #CCCCCC 0px 1px 0px inset; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 
    5px;border-radius: 5px;font-size:15px;font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
     background-color: #B29AF8; background-image: -webkit-gradient(linear, left top, left bottom, from(#B29AF8), to(#9174ED));
     background-image: -webkit-linear-gradient(top, #B29AF8, #9174ED);
     background-image: -moz-linear-gradient(top, #B29AF8, #9174ED);
     background-image: -ms-linear-gradient(top, #B29AF8, #9174ED);
     background-image: -o-linear-gradient(top, #B29AF8, #9174ED);
     background-image: linear-gradient(to bottom, #B29AF8, #9174ED);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B29AF8, endColorstr=#9174ED);
}

.button_example > p {
    font-weight:bold; 
    color: #FFFFFF;
    text-align :center;
    font-size: 2em;
    margin : auto;
}

.button_example:hover{
     border:1px solid #9174ED;
     background-color: #C9A9FF; background-image: -webkit-gradient(linear, left top, left bottom, from(#C9A9FF), to(#9174ED));
     background-image: -webkit-linear-gradient(top, #C9A9FF, #9174ED);
     background-image: -moz-linear-gradient(top, #C9A9FF, #9174ED);
     background-image: -ms-linear-gradient(top, #C9A9FF, #9174ED);
     background-image: -o-linear-gradient(top, #C9A9FF, #9174ED);
     background-image: linear-gradient(to bottom, #C9A9FF, #9174ED);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C9A9FF, endColorstr=#9174ED);
}